header,
.social-links {
  display: flex;
}

/* Image */
.user-avatar,
.user-avatar img {
  width: 100%;
}

.user-avatar {
  order: -1;
}

/* Link */
.social-links {
  margin-block: 0.5em 0;
  list-style: none;
  gap: 1em;
}

.social-link i {
  font-size: 1.3rem;
  transition: all 250ms;
}

.social-link i:hover,
.social-link i:focus {
  cursor: pointer;
  transform: scale(1.2);
}

.next-link svg {
  margin-block-start: 1.5em;
  width: 30px;
  height: 30px;
  fill: rgb(33, 32, 32);
  cursor: pointer;
  transform: all 250ms ease;
}

.next-link svg:hover,
.next-link svg:focus {
  fill: rgb(130, 101, 85);
  opacity: 0.8;
}

.next-link svg:active {
  fill: rgb(100, 75, 60);
}

/* Typography */
.user-time {
  text-align: center;
  font-family: monospace;
  border: 1px solid rgb(130, 101, 85);
  padding: 0.5em 0.6em;
  border-radius: 5px;
  margin-block: 0.5em;
}

.profile-card {
  background-color: rgb(245, 235, 224);
  width: 95%;
  margin: 0 auto;
  padding: 0.6em;
  border-radius: 6px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  margin-block-start: 2.5em;
}

.bio-section{
  margin-block-start: 0;
}

.hobbies-section,
.dislikes-section {
  padding: 1em 0.6em;
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.hobbies-list,
.dislikes-list {
  list-style: disc inside;
}

.hobby::marker,
.dislike::marker {
  color: rgb(130, 101, 85);
}

.hobby,
.dislike {
  padding: 0.2em;
  line-height: 1.5;
  margin-block-end: 0.4em;
}

.hobby:last-child,
.dislike:last-child {
  margin-block-end: 0;
}

@media (min-width: 200px) {
  .profile-card {
    width: 90%;
  }
  .user-avatar {
    order: -1;
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
  }

  .user-avatar img {
    height: 100%;
    border-radius: 50%;
  }
}

@media (min-width: 500px) {
  .profile-card {
    padding: 1.2em;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "header header"
      "bio bio"
      "hobby dislike";
    align-items: center;
    justify-content: center;
  }

  header {
    grid-area: header;
  }

  .bio-section {
    grid-area: bio;
  }

  .hobbies-section {
    grid-area: hobby;
    margin-inline-end: 1em;
  }

  .dislikes-section {
    grid-area: dislike;
  }

  .hobbies-section h3,
  .dislikes-section h3 {
    display: block;
    text-align: center;
  }
}

@media (min-width: 769px) {
  header {
    margin-right: 2em;
  }

  .user-avatar {
    width: 200px;
    height: 200px;
  }

  .profile-card {
    padding: 1.5em;
    grid-template-columns: 40% 30% 30%;
    grid-template-areas:
      "header bio bio"
      "header hobby dislike";
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 900px) {
  .profile-card {
    padding: 1.7em;
  }
  
  .user-avatar {
    width: 250px;
    height: 250px;
  }
}
