.about-page-section,
.confidence-list li {
  border-radius: 8px;
}

.about-page {
  width: 95%;
  margin-block: 6em 2em;
}

.about-page-section {
  border: 4px solid red;
  padding: 0.6em;
  margin-block-start: 2.5em;
  background-color: rgb(245, 235, 224);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.bio-section {
  margin-block-start: 0;
}

.confidence-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
}

.confidence-list li {
  padding: 0.6em;
  border: 1px solid rgb(130, 101, 85);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 500px) {
  .about-page {
    width: 90%;
  }

  .about-page-section {
    padding: 1.2em;
  }
}

@media (min-width: 769px) {
  .about-page-section {
    padding: 1.5em;
  }
}

@media (min-width: 900px) {
  .about-page-section {
    max-width: 750px;
    margin-inline: auto;
    padding: 1.7em;
  }
}
